.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p #[strong NOTA ACLARATORIA:]  las definiciones propuestas en este glosario fueron tomadas del libro: Sinisterra V., Polanco L., Henao H. (2011). Contabilidad Sistema de Información para las organizaciones. (6a. ed.) Ediciones Mc. Graw Hill.  

        p
            strong.mr-2 Contabilidad financiera:
            | Sistema de información integrado a la empresa, cuyas funciones son recolectar, clasificar, registrar, resumir, analizar e interpretar la información financiera de la organización. 
        hr

        p
            strong.mr-2 Comerciantes:
            | Personas que ejercen alguna de las actividades que se consideran mercantiles.
        hr

        p #[strong.mr-2 Empresa comercial:] ente económico dedicado a la compra y venta de bienes, conocidos como mercancías.
        hr
        p #[strong.mr-2 Empresa de servicio:] ente económico dedicado a la prestación de servicios o a la venta de una capacidad profesional.
        hr
        p #[strong.mr-2 Empresa de manufactura:] ente económico dedicado a producir y vender un producto elaborado a partir de materias primas y sometido a un proceso productivo.
        hr
        p #[strong.mr-2 Normas básicas:] conceptos básicos y reglas que se deben observar al efectuar los registros contables correspondientes a las actividades que desarrollan las personas jurídicas o naturales, y que deben aplicar todas las personas obligadas a llevar contabilidad.
        hr
        p #[strong.mr-2 Razón comercial:] es el nombre que se asigna a la empresa, para darse a conocer ante el público o mercado.
        hr
        p #[strong.mr-2 Razón social:] es el nombre de la empresa, que se encuentra registrado en la cámara de comercio y demás entidades de control.
        hr
        p #[strong.mr-2 Registro Único Tributario (RUT):] es el documento que se tramita ente la Dirección de Impuestos y Aduanas Nacionales (DIAN), el cual relaciona la clasificación y responsabilidades del contribuyente.
        hr
        p #[strong.mr-2 Sociedad anónima:] sociedad que requiere para su constitución un mínimo de cinco socios. Su capital se divide en acciones de igual valor y la responsabilidad de los socios se limita a los aportes de capital. También se conoce con el nombre de corporación.
        hr
        p #[strong.mr-2 Unidad de valor tributario (UVT):] es una medida que busca estandarizar el cumplimiento de las obligaciones tributarias.
        hr

