.container

    .header-ecored
        h1 1. Comerciante



    .card


        img.card-img-top(src='assets/images/pages/tema-1/tema-1-1.svg')

        .card-body.p-5

            h2.mt-4 1.1 Concepto y calidad

            .row.mt-4.align-items-center
                .col
                    p De acuerdo con el Código del Comercio “Son comerciantes las personas que profesionalmente se ocupan en alguna de las actividades que la ley considera mercantiles. La calidad de comerciante se adquiere, aunque la actividad mercantil se ejerza por medio de apoderado, intermediario o interpuesta persona” (Secretaría del Senado, 2020. Art. 10). 
                    
                    p.mt-4 Interpuesta persona hace referencia a personas naturales o jurídicas que representan a la empresa. Por tanto, en las sociedades comerciales se nombra un representante legal, que comúnmente es el denominado gerente y representa la voluntad de la junta directiva aplicando políticas administrativas y contables en la organización. 

                .col-auto
                    p.text-center
                        img(src="assets/images/pages/tema-1/tema-1-2.svg").img-fluid


            p.mt-4 Bajo efectos jurídicos, se considera comerciante a quien obra bajo las siguientes condiciones:

            .row.justify-content-center.mt-4
                .col-12.col-md-8
                    hr
                    p.header-step
                        span.header-step-number #[strong.text-color-1 a.]
                        span.header-step-title
                            | Se encuentra registrado en la Cámara de Comercio y obtiene el registro mercantil.
                    hr
                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 b.]
                        span.header-step-title
                            strong
                            | Cuando tenga un establecimiento abierto al público. 
                    hr  
                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 b.]
                        span.header-step-title
                            strong
                            | Cuando se da a conocer al público por cualquier medio.


        img.card-img-top(src='assets/images/pages/tema-1/tema-1-4.svg').my-5

        .card-body.p-5

            h2 1.2 Deberes, derechos y obligaciones

            p De acuerdo con el Código de Comercio “Es obligación de todo comerciante 1) Matricularse en el registro mercantil; 2) Inscribir en el registro mercantil todos los actos, libros y documentos respecto de los cuales la ley exija esa formalidad; 3) Llevar contabilidad regular de sus negocios conforme a las prescripciones legales; 4) Conservar, con arreglo a la ley, la correspondencia y demás documentos relacionados con sus negocios o actividades; 5) Denunciar ante el juez competente la cesación en el pago corriente de sus obligaciones mercantiles; 6) Abstenerse de ejecutar actos de competencia desleal” (Secretaria del Senado, 2020. Art. 19).

            p.mt-4 Respecto al último punto, además de considerar lo dispuesto en el Código de Comercio (Secretaría del Senado, 2020), también se considera lo dispuesto en las Normas sobre Competencia Desleal (Secretaría del Senado, 2020), donde se especifican las acciones que se consideran competencia desleal:

        .bg-azul-gradiente.my-5

            .row
                .col

                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Actos de desviación de la clientela.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Actos de desorganización.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Actos de confusión.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Actos de engaño.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Actos de descrédito.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Actos de comparación.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Actos de imitación.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Explotación de la reputación ajena.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Violación de secretos.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Inducción a la ruptura contractual.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Violación de normas.
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-4/flecha.svg")
                        span Pactos desleales de exclusividad.