.container

    .header-ecored
        h1 3. Administración



    .card


        img.card-img-top(src='assets/images/pages/tema-3/tema-3-1.svg')

        .card-body.p-5

            h3.mt-4 Aportes

            .table-responsive

                table.table

                    thead.bg-color-2
                        tr
                            th Teoría
                            th Autores
                            th Aportes
                    tbody
                        tr
                            td #[strong Administración científica]
                            td Frederick Taylor, Henry Lawrence Gantt, Robinson Towne, Henry Metcalf.
                            td Se da importancia al manejo de incentivos, selección del personal.

                        tr
                            td #[strong Teoría Clásica]
                            td Henri Fayol.
                            td Desarrolla las áreas funcionales que debe tener la organización. De igual manera se establecen los 14 principios de administración relacionados con la organización del trabajo y especialización del trabajador.

                        tr
                            td #[strong Escuela Humanista]
                            td George Elton Mayo, Roberto Owen.
                            td Tiene énfasis en los valores humanos, motivación, liderazgo y estudio de las necesidades del personal.

                        tr
                            td #[strong Enfoque estructuralista]
                            td Renate Mayntz, Etzioni Amitai.
                            td Relaciona los tipos de autoridad, estructura de las organizaciones, descentralización, manejo de conflictos, busca interrelacionar las empresas con el entorno.

                        tr
                            td #[strong Escuela Neoclásica]
                            td Peter Drucker, Lawrence Appley, George Terry.
                            td Tienen en cuenta la administración por objetivos, profundización en el proceso administrativo. Hace énfasis al modelo actual.


            p.mt-5 Actualmente, existen otros enfoques que contribuyen notoriamente con las necesidades de las organizaciones y su entorno, entre ellas se encuentran: Benchmarking, Calidad total, Empowerment, Downsizing, Coaching, Balanced Scorecard y Teorías de restricciones, las cuales dan respuesta a los criterios de eficiencia, eficacia y valor agregado (Angulo, 2018; Münch, 2015; Sánchez, 2015; Vilches, 2019).


            h2#tema-31.mt-5 3.1 Principios básicos de áreas funcionales, planeación estratégica, organización, dirección y control

            p.text-center.my-5
                img(src="assets/images/pages/tema-3/tema-31-1.png").img-fluid


            h3.mt-5 Proceso administrativo

            p El proceso administrativo es el conjunto de pasos que se aplican en una empresa para llevar a cabo una actividad que contribuya al cumplimiento de los objetivos propuestos. Las etapas que lo integran son: planeación, organización, dirección y control (Angulo, 2018; Münch, 2015; Sánchez, 2015; Vilches, 2019; Fayol, 1971).


            .row.justify-content-center.mt-3

                .col-10.col-md-8

                    .row.justify-content-center.mt-5#avatar-big
                        .col-12
                            .card-media.bg-color-3
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="assets/images/pages/tema-3/tema-31-icon-1.svg").img-fluid
                                    .card__copy 
                                        p.text-white #[strong 1. Planeación] #[br] Son las actividades iniciales que desarrollará la empresa para obtener los resultados deseados. Los elementos que intervienen son:  




                    section.bg-color-card-media(style="margin-top: -16px")
                        .p-5
                            .row.justify-content-center
                                .col-12
 
                                    p.mb-4 #[strong.text-color-1 Filosofía] #[br] son los valores y principios que aplica la empresa en el desarrollo de su objeto social, ratificando el compromiso con la sociedad.

                                    p.mb-4 #[strong.text-color-1 Misión:] #[br] es la razón de ser de la empresa, el motivo por el cual existe. Allí se establece el mercado objetivo, los productos y la ventaja competitiva. Debe ser motivadora, amplia y permanente.

                                    p.mb-4 #[strong.text-color-1 Visión:] #[br] es lo que se de espera en un futuro, por ello se implementan estrategias que contribuyan a los resultados esperados. Es importante que sea inspiradora y se actualice conforme los cambios del entorno.

                                    p.mb-4 #[strong.text-color-1 Objetivos estratégicos:] #[br] deben ser medibles y cuantificables en el tiempo, hace referencia a los resultados específicos por alcanzar. 

                                    p.mb-4 #[strong.text-color-1 Políticas:] #[br] son los lineamientos que diseña e implementa la empresa para el desarrollo de las diferentes actividades empresariales. Tienen enfoque tecnológico, talento humano, ambiental, etc.

                                    p.mb-4 #[strong.text-color-1 Estrategias:] #[br] son las acciones que se implementan para el cumplimiento de objetivos.

                                    p.mb-4 #[strong.text-color-1 Programas:] #[br] relaciona el conjunto de actividades, responsable, tiempo y recursos involucrados para llevar a cabo las estrategias.

                                    p.mb-4 #[strong.text-color-1 Presupuestos:] #[br] aquí se definen los recursos en términos cuantificables para llevar a cabo los programas que contribuyan a alcanzar los objetivos.


            .row.justify-content-center.mt-5

                .col-10.col-md-8

                    .row.justify-content-center.mt-5#avatar-big
                        .col-12
                            .card-media.bg-color-4
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="assets/images/pages/tema-3/tema-31-icon-2.svg").img-fluid
                                    .card__copy 
                                        p.text-white #[strong 2. Organización] #[br] Hace referencia a la coordinación de funciones, recursos y división del trabajo, teniendo en cuenta los procesos, sistemas, estructuras y jerarquías para el cumplimento de objetivos. El establecimiento de la estructura depende de las características de la empresa, objetivos y recursos. Entre las posibles estructuras se encuentran (Angulo, 2018; Münch, 2015; Sánchez, 2015; Vilches, 2019; Fayol, 1971):




                    section.bg-color-4-rgba(style="margin-top: -24px")
                        .p-5
                            .row.justify-content-center
                                .col-12
 
                                    p.mb-4 #[strong.text-color-morado Lineal o militar:] #[br]  las decisiones son tomadas por una persona, por lo que se dice que la autoridad en la empresa es ejercida por ésta, a quien los subalternos le entregan reportes de las actividades realizadas.

                                    .row.my-4.justify-content-center
                                        .col-12.col-md-10
                                            p.text-center
                                                img(src="assets/images/pages/tema-3/tema-31-2-1.svg").img-fluid



                                    p.mb-4 #[strong.text-color-morado Líneo-funcional:] #[br]  las funciones son asignadas a las diferentes áreas de la empresa, con el fin de alcanzar los objetivos mediante el esfuerzo colectivo.

                                    .row.my-4.justify-content-center
                                        .col-12.col-md-10
                                            p.text-center
                                                img(src="assets/images/pages/tema-3/tema-31-2-2.svg").img-fluid

                                    p.mb-4 #[strong.text-color-morado Staff:] #[br] En esta estructura se combina la autoridad directa con la asesoría de un profesional para llevar a cabo los procesos organizacionales.

                                    .row.my-4.justify-content-center
                                        .col-12.col-md-10
                                            p.text-center
                                                img(src="assets/images/pages/tema-3/tema-31-2-3.svg").img-fluid


                                    p.mb-4 #[strong.text-color-morado Matricial:] #[br] en términos generales es utilizada por las grandes empresas, donde se combinan los recursos y materiales para ejecutar actividades específicas o proyectos.

                                    .row.my-4.justify-content-center
                                        .col-12.col-md-10
                                            p.text-center
                                                img(src="assets/images/pages/tema-3/tema-31-2-4.svg").img-fluid

            .row.justify-content-center.mt-5

                .col-10.col-md-8

                    .row.justify-content-center.mt-5#avatar-big
                        .col-12
                            .card-media.bg-color-5
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="assets/images/pages/tema-3/tema-31-icon-3.svg").img-fluid
                                    .card__copy 
                                        p.text-white #[strong 3. Dirección] 




                    section.bg-color-5-rgba(style="margin-top: -24px")
                        .p-5
                            .row.justify-content-center
                                .col-12
 
                                    p.my-4 En esta etapa se materializan los planes y programas, teniendo en cuenta la asignación de recursos, responsables, tiempo y actividades establecidas en la etapa de planeación. Para llevar a cabo el proceso de forma satisfactoria se requiere de habilidades como liderazgo, comunicación asertiva, trabajo en equipo, motivación, actitud, responsabilidad, administración de tiempo, innovación, creatividad, disciplina y cultura organizacional. Es por esto, que es importante seleccionar cuidadosamente el personal que ejecutará los planes propuestos (Angulo, 2018; Münch, 2015; Sánchez, 2015; Vilches, 2019; Fayol, 1971). 

            .row.justify-content-center.mt-5

                .col-10.col-md-8

                    .row.justify-content-center.mt-5#avatar-big
                        .col-12
                            .card-media.bg-color-6
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="assets/images/pages/tema-3/tema-31-icon-4.svg").img-fluid
                                    .card__copy 
                                        p.text-white #[strong 4. Control] 




                    section.bg-color-6-rgba(style="margin-top: -24px")
                        .p-5
                            .row.justify-content-center
                                .col-12
 
                                    p.my-4 Esta etapa es muy importante en el proceso administrativo, pues se verifica que los programas se hayan desarrollado conforme a lo planeado, teniendo en cuenta el manejo de recursos de forma eficiente. Además, permite observar las posibles desviaciones, con el fin de implementar acciones correctivas o preventivas que ayuden a alcanzar los objetivos (Angulo, 2018; Münch, 2015; Sánchez, 2015; Vilches, 2019).  

                                    p Para realizar el proceso de control se debe contar con elementos de medición como los indicadores de gestión o indicadores financieros, los cuales permiten valorar los resultados obtenidos y, los recursos consumidos. El seguimiento de los resultados conduce a la mejora continua de los procesos de la organización; por ende, debe darse la importancia que merece, con el fin de garantizar el cumplimiento de los planes (Angulo, 2018; Münch, 2015; Sánchez, 2015; Vilches, 2019; Fayol, 1971).


            p.mt-6 Recuerde ingresar a la Biblioteca SENA y explorar las diferentes referencias bibliográficas como:

            ul.bg-color-dark.mt-4
                li
                    span Münch, L. (2015). Administración: proceso administrativo, clave del éxito empresarial. Pearson 

                li 
                    span Angulo, U. (2018). Contabilidad financiera, correlacionado con NIIF. Ediciones de la U.

                li
                    span Fayol, H. (1971). Administración industrial y general. Editorial Herrero Hermanos S.A.