.container

    .header-ecored
        h1 2. Derecho Humano a la alimentación como nuevo enfoque de la Política SAN



    .card
        .card-body.p-5

            p Según lo señalado en la Observación General No. 12. El derecho a una alimentación adecuada (artículo 11), en virtud de tratados de derechos humanos: 

            .quote.my-5
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-0 “... el derecho humano a la alimentación se ejerce cuando todo hombre, mujer o niño, ya sea solo o en común con otros, tiene acceso físico y económico, en todo momento, a la alimentación adecuada o a medios para obtenerla. El derecho a la alimentación adecuada no debe interpretarse, por consiguiente, en forma estrecha o restrictiva asimilando un conjunto de calorías, proteínas y otros elementos nutritivos concretos. Este derecho tiene que alcanzarse progresivamente, no obstante, los Estados tienen la obligación básica de adoptar las medidas necesarias para mitigar y aliviar el hambre (…) incluso en caso de desastre natural o de otra índole” #[span.text-color-secondary (Jusidman-Rapoport, 2014, pág. 1)].
                .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")

            h2 2.1 Componentes del derecho

            p.mt-4 El derecho a la alimentación adecuada tendrá que alcanzarse progresivamente y mediante la definición de acciones en cinco componentes. De acuerdo con la observación general 12, comité DESC: 

            p.text-center.my-5
                img(src="assets/images/pages/tema-2/tema-21-a.png")


            p.mt-4 En concordancia con el marco referencial y el derecho humano a la alimentación el equipo de políticas e investigación en SAN de la Dirección de Nutrición del Instituto Colombiano de Bienestar Familiar propone el siguiente esquema: 

            p.text-center.my-5
                img(src="assets/images/pages/tema-2/tema-21-b.svg")      

            .row.justify-content-center
                .col-12.col-md-6
                    .bg-caption
                        p #[strong Fuente.] Elaboración propia Equipo de políticas e investigación en SAN - Dirección de nutrición     


            h2.mt-6 2.2 Roles del Derecho Humano a la Alimentación

            p En los pactos y convenios de los derechos humanos se identifican y asignan tres roles que deben cumplir cada uno de los actores con relación al derecho que se está trabajando:

            p.text-center.my-5
                img(src="assets/images/pages/tema-2/tema-22.png")   


            h2.mt-6 2.3 Escalas de realización del Derecho Humano a la Alimentación    

            p.mt-3 Las escalas de realización del derecho humano a la alimentación se definen como los diferentes niveles de complejidad en los cuales se materializa la garantía del derecho a la alimentación adecuada y sostenible, permitiendo al Estado diseñar, implementar y evaluar procesos de política pública de manera progresiva hasta alcanzar la realización plena del derecho, tanto en su dimensión individual como colectiva. (Plataforma Colombiana de Derecho Humanos, Democracia & Desarrollo, Observatorio de Seguridad Alimentaria y Nutricional y Comisión Interfranciscana, 2010)

            p.mt-4 Las escalas de realización del derecho a la alimentación son:

            p.text-center.my-5
                img(src="assets/images/pages/tema-2/tema-23.svg")   

            .row.justify-content-center
                .col-12.col-md-6
                    .bg-caption
                        p #[strong Fuente.] Ajustado de Plataforma Colombiana de Derechos Humanos, Democracia y Desarrollo, 2010, pág. 20    

            .row.justify-content-center.my-5
                .col-12.col-md-9
                    #accordionExample.accordion.mt-5
                        .card
                            #headingOne.card-header
                                h2.mb-0
                                    button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne').pl-0
                                        h4.mb-0.collapsable-title.d-flex.align-items-center Seguridad Alimentaria y Nutricional
                            #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                                .card-body
                                    | Implica la primera escala de realización del derecho a la alimentación con respecto a los hogares y los individuos. El concepto registrado en el CONPES 113 expresa que la Seguridad alimentaria y nutricional “es la disponibilidad suficiente y estable de alimentos, el acceso y el consumo oportuno y permanente de los mismos en cantidad, calidad e inocuidad por parte de todas las personas, bajo condiciones que permitan su adecuada utilización biológica, para llevar una vida saludable y activa” (CONPES Social 113, 2008).
                        .card
                            #headingTwo.card-header
                                h2.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo').pl-0
                                        h4.mb-0.collapsable-title.d-flex.align-items-center Autonomía Alimentaria
                            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                                .card-body
                                    | Derecho que le asiste a cada comunidad, pueblo o colectivo humano, “integrante de una nación, a controlar autónomamente su propio proceso alimentario según sus tradiciones, usos, costumbres, necesidades y perspectivas estratégicas, en armonía con los demás grupos humanos, el ambiente y las generaciones venideras…” (Pirachicán Avila, 2015).

                        .card
                            #headingThree.card-header
                                h2.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree').pl-0
                                        h4.mb-0.collapsable-title.d-flex.align-items-center Soberanía Alimentaria Genuina
                            #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                .card-body
                                    | La Soberanía Alimentaria es “el derecho de los pueblos a definir sus propias políticas y estrategias sustentables de producción, distribución y consumo de alimentos que garanticen el derecho a la alimentación para toda la población, con base en la pequeña y mediana producción, respetando sus propias culturas y la diversidad de los modos campesinos, pesqueros e indígenas de producción agropecuaria, de comercialización y de gestión de los espacios rurales, en los cuales la mujer desempeña un papel fundamental.”  (Vía Campesina, 2003). 


            h2 2.4 Participación social y comunitaria

            p Según Ander Egg (1995) la participación social y comunitaria “es el acto ejercido por un sujeto o agente que está involucrado en un ámbito en donde puede tomar decisiones en todas las cosas que les afectan y conciernen”.     

            p.mt-4 La participación social y comunitaria involucra: 

            .row.justify-content-center.mt-4
                .col-11
                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-2/bullet-flecha.svg")
                        span Buscar el acercamiento entre el ciudadano y la esfera de interés público.

                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-2/bullet-flecha.svg")
                        span Promover la deliberación social.

                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-2/bullet-flecha.svg")
                        span Mejorar la eficiencia y eficacia de las políticas públicas.

                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-2/bullet-flecha.svg")
                        span Facilitar el diálogo y coordinación entre las instituciones y la sociedad civil.

                    .d-flex.align-items-center.mb-3
                        span.mr-3 
                            img(src="assets/images/pages/tema-2/bullet-flecha.svg")
                        span Facilitar las transformaciones de las realidades alimentarias.                                                                        

