.container

    .header-ecored
        h1 2. La empresa



    .card


        img.card-img-top(src='assets/images/pages/tema-2/tema-2-1.svg')

        .card-body.p-5

            h2#tema-21.mt-4 2.1 Definición, clasificaciones, naturaleza y estructura de las organizaciones

            h3.mt-4 Definición

            p Una empresa hace referencia a la integración de recursos financieros, tecnológicos y de talento humano, para llevar a cabo alguna de las actividades que se consideran mercantiles; entre ellas, se encuentran la comercialización de bienes, transformación de materia prima en producto terminado (producción) y la prestación de servicios. Todo esto para obtener un determinado beneficio (Angulo, 2018; Münch, 2015; Sánchez, 2015).

            p.text-center.my-5
                img(src="assets/images/pages/tema-2/tema-2-2.png").img-fluid


            h3.mt-4 Clasificaciones, naturaleza y estructura de las organizaciones

            p #[strong Las empresas se clasifican de la siguiente manera ]  (Angulo, 2018; Münch, 2015; Sánchez, 2015Vilches, 2019; Warren, Reeves y Duchac, 2016; Cuaspa, 2013):

            .row.mt-4.justify-content-center

                .col-10.m-auto

                    #collapsable

                        #accordionExample.accordion
                            .card
                                #headingOne.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                            h3.mb-0.collapsable-title.text-color-1 1. Según su objetivo

                                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                                    .card-body.bg-white

                                        .row
                                            .col                                                        
                                                p #[strong.text-color-2 Con ánimo de lucro:] son empresas que tienen por objetivo la generación de rentabilidad o beneficios económicos, los cuales serán distribuidos entre los socios o propietarios. En esta clasificación podemos mencionar: persona naturales y jurídicas. 

                                                p.mt-4 #[strong.text-color-2 Sin ánimo de lucro:]  son empresas creadas en apoyo de la comunidad. No se distribuyen las ganancias, estas son invertidas en la organización para beneficio social. En este grupo se encuentran: fundaciones de beneficencia, fondos de empleados, corporaciones civiles, clubes deportivos, etc.

                                            .col-auto
                                                p.text-center
                                                    img(src='assets/images/pages/tema-2/tema-21-icon-1.svg').img-fluid


                            .card
                                #headingTwo.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                            h3.mb-0.collapsable-title.text-color-1 2. Según su actividad económica
                                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                                    .card-body.bg-white

                                        .row
                                            .col                                                        
                                                p #[strong.text-color-2 Empresas agropecuarias:] son las empresas dedicadas a la producción de bienes agrícolas y pecuarios. Ejemplo: granjas avícolas, de cultivos de hortalizas y granos.

                                                p.mt-4 #[strong.text-color-2 Empresas mineras:]  son las empresas que explotan los recursos del subsuelo.  Ejemplo: empresas petroleras, de piedras preciosas.

                                                p.mt-4 #[strong.text-color-2 Empresas industriales:] son aquellas que transforman materia prima en producto terminados. Ejemplo: fábricas de jean, de calzado y muebles.

                                                p.mt-4 #[strong.text-color-2 Empresas comerciales:] realizan actividades de compra y venta de bienes. Ejemplo: empresas de electrodomésticos, supermercados, etc.

                                                p.mt-4 #[strong.text-color-2 Empresas de servicios:] son aquellas empresas que tienen como objetivo satisfacer una necesidad. Ejemplo: empresas de salud, transporte, educación, etc.


                                            .col-auto
                                                p.text-center
                                                    img(src='assets/images/pages/tema-2/tema-21-icon-2.svg').img-fluid

                            .card
                                #headingThree.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                            h3.mb-0.collapsable-title.text-color-1 3. Según la procedencia de capital
                                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                    .card-body.bg-white

                                        .row
                                            .col                                                        
                                                p #[strong.text-color-2 Empresas privadas:] están constituidas con capital privado; es decir, aporte de particulares.

                                                p.mt-4 #[strong.text-color-2 Empresas oficiales o públicas:] son las empresas constituidas con capital del Estado.

                                                p.mt-4 #[strong.text-color-2 Empresas de economía mixta:] son creadas con aportes de capital privado y público.


                                            .col-auto
                                                p.text-center
                                                    img(src='assets/images/pages/tema-2/tema-21-icon-3.svg').img-fluid

                            .card
                                #headingFour.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                            h3.mb-0.collapsable-title.text-color-1 4. Según el grupo de presentación de información financiera
                                #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                                    .card-body.bg-white

                                        .row
                                            .col                                                        
                                                p.mt-4 #[strong.text-color-2 Grupo 1:] son las empresas que aplican las NIIF plenas. De acuerdo con el Decreto 2420 y 2496 de 2015, son: Emisores de valores, Entidades de interés público, Entidades que tengan Activos totales superiores a treinta mil (30.000) SMMLV o planta de personal superior a doscientos (200) trabajadores; que no sean emisores de valores ni entidades de interés público y que cumplan además cualquiera de los siguientes requisitos: 

                                                ul.bg-color-dark.mt-4
                                                    li
                                                        span Ser subordinada o sucursal de una compañía extranjera que aplique NIIF. 
                                                    li
                                                        span Ser subordinada o matriz de una compañía nacional que deba aplicar NIIF. 
                                                    li
                                                        span Realizar importaciones (pagos al exterior) o exportaciones (ingresos del exterior) que representen más del 50% de las compras o de las ventas respectivamente (Sistema Único de Información Normativa, 2020).

                                                p.mt-4 #[strong.text-color-2 Grupo 2:] son las empresas que aplican las NIIF para Pymes. De acuerdo con el Decreto 2420 y 2496 de 2015, son: Empresas que tengan activos totales por valor entre quinientos (500) y treinta mil (30.000) SMMLV o planta de personal entre once (11) y doscientos (200) trabajadores, y que no sean emisores de valores ni entidades de interés público. Microempresas que tengan activos totales excluida la vivienda por un valor máximo de quinientos (500) SMMLV o planta de personal no superior a los (10) trabajadores, y cuyos ingresos brutos anuales sean iguales o superiores a 6.000 SMMLV (Sistema Único de Información Normativa, 2020).

                                                p.mt-4 #[strong.text-color-2 Grupo 3:] son las empresas que aplican contabilidad simplificada para microempresas. De acuerdo con el Decreto 2420 y 2496 de 2015, son: personas naturales o jurídicas que cumplan los criterios establecidos en el art. 499 del Estatuto Tributario (ET) y normas posteriores que lo modifiquen. Para el efecto se tomará el equivalente a UVT, en salarios mínimos legales vigentes. b) Microempresas que tengan Activos totales excluida la vivienda por un valor máximo de quinientos (500) SMMLV o planta de personal no superior a los (10) trabajadores que no cumplan con los requisitos para ser incluidas en el grupo 2 ni en el literal anterior (Sistema Único de Información Normativa, 2020). 


                                            .col-auto
                                                p.text-center
                                                    img(src='assets/images/pages/tema-2/tema-21-icon-4.svg').img-fluid

                            .card
                                #headingFive.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                            h3.mb-0.collapsable-title.text-color-1 5. Según conformación del capital
                                #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
                                    .card-body.bg-white

                                        .row
                                            .col                                                        
                                                p.mt-4 #[strong.text-color-2 Multinacionales:] son aquellas empresas que realizan operaciones a nivel mundial, generalmente constituida con capital extranjero. Ejemplo: BBVA.
                                                p.mt-4 #[strong.text-color-2 Grupos Económicos:] son empresas que pertenecen a al mismo grupo de socios o propietarios, se dedican a diferentes sectores de la economía. Ejemplo: Grupo Santo Domingo, Grupo Luis Carlos Sarmiento Angulo.
                                                p.mt-4 #[strong.text-color-2 Nacionales:] son las empresas creadas en el territorio colombiano, cuentan con una empresa principal y varias sucursales. Ejemplo: Arturo calle, Panamericana.
                                                p.mt-4 #[strong.text-color-2 Locales:] son las empresas que funcionan dentro de la misma localidad.
                                            .col-auto
                                                p.text-center
                                                    img(src='assets/images/pages/tema-2/tema-21-icon-5.svg').img-fluid



                            .card
                                #heading6.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='false', aria-controls='collapse6')
                                            h3.mb-0.collapsable-title.text-color-1 6. Según su naturaleza
                                #collapse6.collapse(aria-labelledby='heading6', data-parent='#accordionExample')
                                    .card-body.bg-white

                                        .row
                                            .col                                                        
                                                p.mt-4 #[strong.text-color-2 Personas naturales:] son las empresas constituidas por una persona, quienes adquieren derechos y obligaciones. Es cualquier individuo de la especie humana.
                                                p.mt-4 #[strong.text-color-2 Personas jurídicas:] son un ente ficticio, pertenecen las sociedades, quienes adquieren derechos y contraer obligaciones civiles.

                                            .col-auto
                                                p.text-center
                                                    img(src='assets/images/pages/tema-2/tema-21-icon-6.svg').img-fluid                                                    


                            .card
                                #heading7.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='false', aria-controls='collapse7')
                                            h3.mb-0.collapsable-title.text-color-1 7. Según el tamaño
                                #collapse7.collapse(aria-labelledby='heading7', data-parent='#accordionExample')
                                    .card-body.bg-white

                                        .row
                                            .col                                                        
                                                p De acuerdo con el Decreto 957 del 5 de junio de 2019, las empresas según el tamaño se clasifican en micro, pequeña, mediana y gran empresa, el criterio de clasificación se encuentra definido por los ingresos de las actividades ordinarias anuales de acuerdo con el sector manufacturero, de servicios y comercial. La clasificación está determinada de la siguiente manera (MINCIT, 2020):

                                            .col-auto
                                                p.text-center
                                                    img(src='assets/images/pages/tema-2/tema-21-icon-7.svg').img-fluid   


                                        p.text-center.my-5
                                            img(src='assets/images/pages/tema-2/tema-21-tabla-7.png').img-fluid 


                                        p.mt-5 Cabe resaltar que el presente decreto empezó a regir a partir de diciembre de 2019, donde se constituye como criterio de clasificación los ingresos ordinarios del año inmediatamente anterior, los cuales corresponden a las ventas brutas anuales derivadas del objeto social. En caso de que los ingresos generados sean de diferentes sectores, se tendrá en cuenta el rango de los ingresos del sector económico más altos (MINCIT, 2020).

    .card

        .card-body.p-5


            h2#tema-22 2.2 Sociedad: concepto, clasificación, requisitos para constitución y liquidación

            h3.mt-5 Concepto

            .row
                .col
                    p Según el Código de Comercio la constitución de una sociedad consiste en que “dos o más personas se obligan a hacer un aporte en dinero, en trabajo o en otros bienes apreciables en dinero, con el fin de repartirse entre sí las utilidades obtenidas en la empresa o actividad social” (Secretaría del Senado, 2020, Art. 98).
                    
                    p.mt-4 De acuerdo con lo anterior, en la constitución de la sociedad intervienen diferentes personas, las cuales se denominan socios, quienes realizan aportes de diferente índole. Esto con el objetivo de distribuirse las ganancias generadas en el curso normal del desarrollo de las operaciones comerciales. Cabe resaltar, que las sociedades se crean bajo la figura de persona jurídica distinta de los socios individualmente considerados.

                .col-auto
                    p.text-center
                        img(src="assets/images/pages/tema-2/tema-22-1.svg").img-fluid


            h3.mt-5 Clasificación
            p.mt-4 De acuerdo con el Código de Comercio las sociedades se clasifican de la siguiente forma (Secretaría del Senado, 2020):

            .row.justify-content-center.mt-4
                .col-12.col-md-10
                    #collapsable

                        #accordionExample2.accordion
                            .card
                                #headingOne-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne-2', aria-expanded='true', aria-controls='collapseOne-2')
                                            h3.mb-0.collapsable-title.text-color-1 1. Sociedad colectiva:


                                #collapseOne-2.collapse.show(aria-labelledby='headingOne-2', data-parent='#accordionExample2')
                                    .card-body.bg-white

                                        .row.justify-content-center
                                            .col-11
                                                .row.mt-2.align-items-strech.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Número de socios
                                                    .col-8
                                                        .p-3
                                                            P Para su constitución deben existir mínimo dos socios.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Responsabilidad de los socios
                                                    .col-8
                                                        .p-3
                                                            P Responden solidaria e ilimitadamente por las operaciones sociales.


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Razón social
                                                    .col-8
                                                        .p-3
                                                            P Se forma con el nombre completo o el solo apellido de alguno o algunos de los socios seguido de las expresiones "& compañía", "hermanos", "e hijos", u otras análogas, si no se incluyen los nombres completos o los apellidos de todos los socios.
                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Conformación del capital
                                                    .col-8
                                                        .p-3
                                                            P El capital lo constituye el aporte de los socios.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Causales de disolución y liquidación 
                                                            | (Secretaría del Senado, 2020, Art. 218).
                                                    .col-8
                                                        .p-3

                                                            p #[strong.text-color-2 1)]  Por muerte de alguno de los socios si no se hubiere estipulado su continuación con uno o más de los herederos, o con los socios supérstites;

                                                            p #[strong.text-color-2 2)]  Por incapacidad sobreviniente a alguno de los socios, a menos que se convenga que la sociedad continúe con los demás, o que acepten que los derechos del incapaz sean ejercidos por su representante;

                                                            p #[strong.text-color-2 3)]  Por declaración de quiebra de alguno de los socios, si los demás no adquieren su interés social o no aceptan la cesión a un extraño, una vez requeridos por el síndico de la quiebra, dentro de los treinta días siguientes;

                                                            p #[strong.text-color-2 4)]  Por enajenación forzada del interés de alguno de los socios en favor de un extraño, si los demás asociados no se avienen dentro de los treinta días siguientes a continuar la sociedad con el adquirente, y

                                                            p #[strong.text-color-2 5)]  Por renuncia o retiro justificado de alguno de los socios, si los demás no adquieren su interés en la sociedad o no aceptan su cesión a un tercero.     


                            .card
                                #headingTwo-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo-2', aria-expanded='false', aria-controls='collapseTwo-2')
                                            h3.mb-0.collapsable-title.text-color-1 2. Sociedad en comandita simple:

                                #collapseTwo-2.collapse(aria-labelledby='headingTwo-2', data-parent='#accordionExample2')
                                    .card-body.bg-white

                                        .row.justify-content-center
                                            .col-11
                                                .row.mt-2.align-items-strech.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Número de socios
                                                    .col-8
                                                        .p-3
                                                            P Intervienen dos categorías de socios: comanditarios (aportes de capital) y gestores (aporte industrial). 


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Responsabilidad de los socios
                                                    .col-8
                                                        .p-3
                                                            P Responden los socios gestores solidaria e ilimitadamente por las operaciones sociales.


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Razón social
                                                    .col-8
                                                        .p-3
                                                            P Se forma con el nombre completo o apellido de uno o más de los socios colectivo seguido de "& compañía", finalmente se registra la expresión “Sociedad en comandita”.
                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Conformación del capital
                                                    .col-8
                                                        .p-3
                                                            P El capital lo constituye el aporte de los socios comanditarios y los socios gestores.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Causales de disolución y liquidación 
                                                    .col-8
                                                        .p-3

                                                            p #[strong.text-color-2 1)]  Causales definidas en el Art. 218 del Código de comercio.
                                                            p.mt-4 #[strong.text-color-2 2)] Causales definidas en el Art. 319 del Código de comercio.
                                                            p.mt-4 #[strong.text-color-2 3)] Por desaparición de alguna de las categorías de socios.
                                                            p.mt-4 #[strong.text-color-2 4)] Cuando ocurran pérdidas que reduzcan el patrimonio neto a menos del cincuenta por ciento del capital suscrito.

                            .card
                                #headingThree-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree-2', aria-expanded='false', aria-controls='collapseThree-2')
                                            h3.mb-0.collapsable-title.text-color-1 3. Sociedad en comandita por acciones:
                                #collapseThree-2.collapse(aria-labelledby='headingThree-2', data-parent='#accordionExample2')
                                    .card-body.bg-white

                                        .row.justify-content-center
                                            .col-11
                                                .row.mt-2.align-items-strech.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Número de socios
                                                    .col-8
                                                        .p-3
                                                            P Intervienen dos categorías de socios: comanditarios (aportes de capital) y gestores (aporte industrial).


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Responsabilidad de los socios
                                                    .col-8
                                                        .p-3
                                                            P Responden los socios gestores solidaria e ilimitadamente por las operaciones sociales.


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Razón social
                                                    .col-8
                                                        .p-3
                                                            P Se forma con el nombre completo o apellido de uno o más de los socios colectivo seguido de "& compañía", finalmente se registra la expresión “Sociedad en comandita por acciones”.
                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Conformación del capital
                                                    .col-8
                                                        .p-3
                                                            P El capital lo constituye el aporte de los socios, mediante acciones de igual valor.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Causales de disolución y liquidación 
                                                    .col-8
                                                        .p-3

                                                            p #[strong.text-color-2 1)]  Causales definidas en el Art. 218 del Código de comercio.
                                                            p.mt-4 #[strong.text-color-2 2)] Causales definidas en el Art. 319 del Código de comercio.
                                                            p.mt-4 #[strong.text-color-2 3)] Por desaparición de alguna de las categorías de socios.
                                                            p.mt-4 #[strong.text-color-2 4)] Cuando ocurran pérdidas que reduzcan el patrimonio neto a menos del cincuenta por ciento del capital suscrito.

                            .card
                                #headingFour-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour-2', aria-expanded='false', aria-controls='collapseFour-2')
                                            h3.mb-0.collapsable-title.text-color-1 4. Sociedad de responsabilidad limitada:
                                #collapseFour-2.collapse(aria-labelledby='headingFour-2', data-parent='#accordionExample2')
                                    .card-body.bg-white

                                        .row.justify-content-center
                                            .col-11
                                                .row.mt-2.align-items-strech.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Número de socios
                                                    .col-8
                                                        .p-3
                                                            P Para su constitución deben existir mínimo dos socios y máximo 25. 


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Responsabilidad de los socios
                                                    .col-8
                                                        .p-3
                                                            P Responden limitadamente; es decir, hasta el límite de sus aportes.


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Razón social
                                                    .col-8
                                                        .p-3
                                                            P Se forma con el nombre o denominación de la sociedad, seguido de la expresión “Limitada o LTDA”.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Conformación del capital
                                                    .col-8
                                                        .p-3
                                                            P El capital lo constituye las cuotas de igual valor.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Causales de disolución y liquidación 
                                                    .col-8
                                                        .p-3

                                                            p #[strong.text-color-2 1)]  Causales definidas en el Art. 218 del Código de comercio.
                                                            p.mt-4 #[strong.text-color-2 2)] Cuando el número de socios exceda de 25.
                                                            p.mt-4 #[strong.text-color-2 3)] Cuando ocurran pérdidas que reduzcan el patrimonio neto a menos del cincuenta por ciento del capital suscrito.

                            .card
                                #headingFive-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive-2', aria-expanded='false', aria-controls='collapseFive-2')
                                            h3.mb-0.collapsable-title.text-color-1 5. Sociedad anónima

                                #collapseFive-2.collapse(aria-labelledby='headingFive-2', data-parent='#accordionExample2')
                                    .card-body.bg-white

                                        .row.justify-content-center
                                            .col-11
                                                .row.mt-2.align-items-strech.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Número de socios
                                                    .col-8
                                                        .p-3
                                                            p Para su constitución deben existir mínimo cinco socios


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Responsabilidad de los socios
                                                    .col-8
                                                        .p-3
                                                            P Responden limitadamente; es decir, hasta el límite de sus aportes.


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Razón social
                                                    .col-8
                                                        .p-3
                                                            p Se forma con el nombre o denominación de la sociedad, seguido de la expresión “Sociedad anónima o S.A.”.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Conformación del capital
                                                    .col-8
                                                        .p-3
                                                            p El capital lo constituye acciones de igual valor.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Causales de disolución y liquidación 
                                                    .col-8
                                                        .p-3

                                                            p #[strong.text-color-2 1)]  Causales definidas en el Art. 218 del Código de comercio.
                                                            p.mt-4 #[strong.text-color-2 2)] Cuando ocurran pérdidas que reduzcan el patrimonio neto a menos del cincuenta por ciento, del capital suscrito.
                                                            p.mt-4 #[strong.text-color-2 3)] Cuando el 95% o más de las acciones suscritas pertenezcan a un solo socio.



                            .card
                                #heading6-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse6-2', aria-expanded='false', aria-controls='collapse6-2')
                                            h3.mb-0.collapsable-title.text-color-1 6. Sociedad por acciones simplificada:
                                #collapse6-2.collapse(aria-labelledby='heading6-2', data-parent='#accordionExample2')
                                    .card-body.bg-white

                                        .row.justify-content-center
                                            .col-11
                                                .row.mt-2.align-items-strech.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Número de socios
                                                    .col-8
                                                        .p-3
                                                            p Se encuentran constituidas por uno o más socios. 


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Responsabilidad de los socios
                                                    .col-8
                                                        .p-3
                                                            P Responden limitadamente; es decir, hasta el límite de sus aportes.


                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Razón social
                                                    .col-8
                                                        .p-3
                                                            p Se forma con el nombre o denominación de la sociedad, seguido de la expresión “Sociedad por acciones o S.A.S”.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Conformación del capital
                                                    .col-8
                                                        .p-3
                                                            p El capital lo constituye acciones de igual valor, las cuales no pueden inscribirse en el Registro Nacional de Valores.

                                                .row.align-items-strech.mt-2.border-color-2
                                                    .col-4.bg-color-2
                                                        .p-3
                                                            strong Causales de disolución y liquidación 
                                                    .col-8
                                                        .p-3

                                                            p De acuerdo con la Ley 1258 de 2008 (Secretaría del Senado, 2020. Art 34), las causales de disolución son:

                                                            p.mt-4 #[strong.text-color-2 1)]  Por vencimiento del término previsto en los estatutos.
                                                            p.mt-4 #[strong.text-color-2 2)] Por imposibilidad de desarrollar las actividades previstas en su objeto social.

                                                            p.mt-4 #[strong.text-color-2 3)] Por la iniciación del trámite de liquidación judicial.

                                                            p.mt-4 #[strong.text-color-2 4)] Por las causales previstas en los estatutos.

                                                            p.mt-4 #[strong.text-color-2 5)] Por voluntad de los accionistas adoptada en la asamblea o por decisión del accionista único.
                                                            p.mt-4 #[strong.text-color-2 6)] Por orden de autoridad competente, y
                                                            p.mt-4 #[strong.text-color-2 7)] Por pérdidas que reduzcan el patrimonio neto de la sociedad por debajo del cincuenta por ciento del capital suscrito.


            h3.mt-6 Requisitos para constitución

            .row.justify-content-center.mt-3

                .col-10.col-md-8

                    .row.justify-content-center.mt-5#avatar-big
                        .col-12
                            .card-media.bg-brand-color-light
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="assets/images/pages/tema-2/tema-22-icon-1.svg").img-fluid
                                    .card__copy 
                                        p.text-white 
                                            |  De acuerdo con el Código de Comercio (Secretaría del Senado, 2020, Art. 110), se relacionan los requisitos para la constitución de una sociedad, la cual se realizará mediante escritura pública, relacionando:



                    section.bg-color-card-media(style="margin-top: -16px")
                        .p-5
                            .row.justify-content-center
                                .col-12
 
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 1.]
                                        span.header-step-title
                                            strong
                                            | El nombre y domicilio de las personas que intervengan como otorgantes. Con el nombre de las personas naturales deberá indicarse su nacionalidad y documento de identificación legal; con el nombre de las personas jurídicas, la ley, decreto o escritura de que se deriva su existencia.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 2.]
                                        span.header-step-title
                                            strong
                                            | La clase o tipo de sociedad que se constituye y el nombre de esta, formado como se dispone en relación con cada uno de los tipos de sociedad que regula este Código.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 3.]
                                        span.header-step-title
                                            strong
                                            | El domicilio de la sociedad y el de las distintas sucursales que se establezcan en el mismo acto de constitución.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 4.]
                                        span.header-step-title
                                            strong
                                            | El objeto social, esto es, la empresa o negocio de la sociedad, haciendo una enunciación clara y completa de las actividades principales. Será ineficaz la estipulación en virtud de la cual el objeto social se extienda a actividades enunciadas en forma indeterminada o que no tengan una relación directa con aquel.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 5.]
                                        span.header-step-title
                                            strong
                                            | El capital social, la parte de este que se suscribe y la que se paga por cada asociado en el acto de la constitución. En las sociedades por acciones deberá expresarse, además, el capital suscrito y el pagado, la clase y valor nominal de las acciones representativas del capital, la forma y términos en que deberán cancelarse las cuotas debidas, cuyo plazo no podrá exceder de un año.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 6.]
                                        span.header-step-title
                                            strong
                                            | La forma de administrar los negocios sociales, con indicación de las atribuciones y facultades de los administradores, y de las que se reserven los asociados, las asambleas y las juntas de socios, conforme a la regulación legal de cada tipo de sociedad.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 7.]
                                        span.header-step-title
                                            strong
                                            | La época y la forma de convocar y constituir la asamblea o la junta de socios en sesiones ordinarias o extraordinarias, y la manera de deliberar y tomar los acuerdos en los asuntos de su competencia.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 8.]
                                        span.header-step-title
                                            strong
                                            | Las fechas en que deben hacerse inventarios y balances generales, y la forma en que han de distribuirse los beneficios o utilidades de cada ejercicio social, con indicación de las reservas que deban hacerse.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 9.]
                                        span.header-step-title
                                            strong
                                            | La duración precisa de la sociedad y las causales de disolución anticipada de la misma.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 10.]
                                        span.header-step-title
                                            strong
                                            | La forma de hacer la liquidación, una vez disuelta la sociedad, con indicación de los bienes que hayan de ser restituidos o distribuidos en especie, o de las condiciones en que, a falta de dicha indicación, puedan hacerse distribuciones en especie.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 11.]
                                        span.header-step-title
                                            strong
                                            | Si las diferencias que ocurran a los asociados entre sí o con la sociedad, con motivo del contrato social, han de someterse a decisión arbitral o de amigables componedores y, en caso afirmativo, la forma de hacer la designación de los árbitros o amigables componedores.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 12.]
                                        span.header-step-title
                                            strong
                                            | El nombre y domicilio de la persona o personas que han de representar legalmente a la sociedad, precisando sus facultades y obligaciones, cuando esta función no corresponda, por la ley o por el contrato, a todos o a algunos de los asociados.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 13.]
                                        span.header-step-title
                                            strong
                                            | Las facultades y obligaciones del revisor fiscal, cuando el cargo esté previsto en la ley o en los estatutos, y
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 14.]
                                        span.header-step-title
                                            strong
                                            | Los demás pactos que, siendo compatibles con la índole de cada tipo de sociedad, estipulen los asociados para regular las relaciones a que da origen el contrato.



            .row.justify-content-center.mt-5

                .col-10.col-md-8

                    .row.justify-content-center.mt-5#avatar-big
                        .col-12
                            .card-media.bg-brand-color-light
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="assets/images/pages/tema-2/tema-22-icon-2.svg").img-fluid
                                    .card__copy 
                                        p.text-white 
                                            |  De acuerdo con la Ley 1014 de 2006 (Secretaría del Senado, 2020), pueden constituirse sociedades pluripersonales bajo documento privado que reúna los siguientes requisitos:



                    section.bg-color-card-media(style="margin-top: -16px")
                        .p-5
                            .row.justify-content-center
                                .col-12
 
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 1.]
                                        span.header-step-title
                                            strong
                                            | Nombre, documento de identidad, domicilio y dirección del socio o socios.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 2.]
                                        span.header-step-title
                                            strong
                                            | El domicilio social. 

                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 3.]
                                        span.header-step-title
                                            strong
                                            | El término de duración o la indicación de que este es indefinido.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 4.]
                                        span.header-step-title
                                            strong
                                            | Una enunciación clara y completa de las actividades principales, a menos que se exprese que la sociedad podrá realizar cualquier acto lícito de comercio.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 5.]
                                        span.header-step-title
                                            strong
                                            | El monto del capital haciendo una descripción pormenorizada de los bienes aportados, con estimación de su valor. El socio o socios responderá por el valor asignado a los bienes en el documento constitutivo.
                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 6.]
                                        span.header-step-title
                                            strong
                                            | El número de cuotas, acciones o partes de interés de igual valor nominal en que se dividirá el capital de la sociedad y la forma en que serán distribuidas si fuere el caso. 

                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 7.]
                                        span.header-step-title
                                            strong
                                            | La forma de administración dentro del tipo o especie de sociedad de que se trate, así como el nombre, documento de identidad y las facultades de sus administradores. A falta de estipulaciones se entenderá que los administradores podrán adelantar todos los actos comprendidos dentro de las actividades previstas. 

                                    hr  
                                    p.header-step
                                        span.header-step-number.text-color-1 #[strong.text-color-1 8.]
                                        span.header-step-title
                                            span Declaración por parte del constituyente o constituyentes, según sea el caso, o de sus representantes o apoderados sobre el cumplimiento de al menos uno de los requisitos señalados en el artículo 22 de la Ley 1014 de 2006 (Secretaría del Senado, 2020), esto es, que cuenten con diez (10) o menos trabajadores, o con activos totales, excluida la vivienda, por valor inferior a quinientos (500) salarios mínimos legales mensuales vigentes.
                                            br
                                            br
                                            span Recuerde que, una vez se obtiene la escritura pública o documento privado debe tramitarse el registro mercantil ante la cámara de comercio en la jurisdicción del domicilio.



            h3.mt-6 Liquidación

            p Según el Código de Comercio (Secretaría del Senado, 2020, Art. 218 y 225) se relacionan las causales de disolución y liquidación de una sociedad.

            hr

            .p-5

                h4.text-color-1 Causales de disolución:
                .row
                    .col
                        p.mt-1 #[strong.text-color-2 1.] Por vencimiento del término previsto para su duración en el contrato.
                        p.mt-1 #[strong.text-color-2 2.] Por la imposibilidad de desarrollar el objeto social.
                        p.mt-1 #[strong.text-color-2 3.] Por reducción del número de asociados a menos del requerido en la ley para su formación o funcionamiento, o por aumento que exceda del límite máximo fijado en la misma ley.
                        p.mt-1 #[strong.text-color-2 4.]  Por la declaración de quiebra de la sociedad.
                        p.mt-1 #[strong.text-color-2 5.] Por las causales que expresa y claramente se estipulen en el contrato.
                        p.mt-1 #[strong.text-color-2 6.] Por decisión de los asociados.
                        p.mt-1 #[strong.text-color-2 7.] Por decisión de autoridad competente en los casos expresamente previstos en las leyes, y
                        p.mt-1 #[strong.text-color-2 8.] Por las demás causales establecidas en las leyes, en relación con todas o algunas de las formas de sociedad que regula este Código.

                    .col-auto
                        p.text-center
                            img(src="assets/images/pages/tema-2/tema-22-icon-3.svg").img-fluid
            hr

            .p-5

                h4.text-color-1 Liquidación de una sociedad

                p.mt-4 La liquidación de una sociedad hace referencia a su terminación definitiva, la cual se deriva de las causales de disolución presentadas anteriormente; además, de las señaladas de forma específica, conforme con el tipo de sociedad constituida.

                p.text-center.mt-5
                    img(src="assets/images/pages/tema-2/tema-22-2.svg").img-fluid

            hr

            h3.mt-5 Fenómenos societarios

            p.mt-5 Según el Código de Comercio (Secretaría del Senado, 2020, Art. 218 y 225) se relacionan las causales de disolución y liquidación de una sociedad.

            p.text-center.mt-5
                img(src="assets/images/pages/tema-2/tema-22-3.svg").img-fluid


    .card

        .card-body.p-5


            h2#tema-23 2.3 Normas comerciales, laborales, tributarias y de información financiera para la constitución de la empresa


        img.card-img-top(src='assets/images/pages/tema-2/tema-23-1.svg').mb-5

        .card-body.p-5

            .row.justify-content-center.mt-4
                .col-12.col-md-10
                    #collapsable

                        #accordionExample3.accordion
                            .card
                                #headingOne-2-1.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne-2-1', aria-expanded='true', aria-controls='collapseOne-2-1')
                                            h3.mb-0.collapsable-title.text-color-1 Normas comerciales


                                #collapseOne-2-1.collapse.show(aria-labelledby='headingOne-2-1', data-parent='#accordionExample3')
                                    .card-body.bg-white

                                        p #[strong.text-color-2 1.] Identificar el tipo de empresa y/o empresa que se desea constituir, teniendo en cuenta la figura de persona natural o jurídica.
                                        
                                        p.mt-2 #[strong.text-color-2 2.]  Verificar ante la cámara de comercio el nombre de la empresa, con el fin de evitar que ya se encuentre en el sistema creado; adicionalmente, confirmar la actividad económica (código CIIU).
                                        
                                        p.mt-2 #[strong.text-color-2 3.] Dependiendo del tipo de empresa y/o sociedad se debe generar la escritura pública o documento privado en la notaría. Este documento es utilizado en el momento de constituir una sociedad, donde participan diferentes socios y sus aportes son de diversas formas.
                                        
                                        p.mt-2 #[strong.text-color-2 4.] Diligenciar y presentar el formulario de Registro Único empresarial y social (RUES) y formulario de matrícula en la Cámara de Comercio de la jurisdicción donde se encuentra ubicada la empresa.
                                        
                                        p.mt-2 #[strong.text-color-2 5.] Una vez diligenciados los formularios pertinentes se genera la inscripción del registro mercantil y se obtiene el certificado de existencia y representación legal.

 


                            .card
                                #headingTwo-2-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo-2-2', aria-expanded='false', aria-controls='collapseTwo-2-2')
                                            h3.mb-0.collapsable-title.text-color-1 Normas laborales


                                #collapseTwo-2-2.collapse(aria-labelledby='headingTwo-2-2', data-parent='#accordionExample3')
                                    .card-body.bg-white

                                        p.mt-2 #[strong.text-color-2 1.]  En el caso de contratar colaboradores para el desarrollo de las actividades de la empresa se debe realizar el contrato de trabajo que reúna los requisitos legales; además de presentar los exámenes de ingreso a que hay lugar. 
                                        
                                        p.mt-2 #[strong.text-color-2 2.] Afiliar a los colaboradores a Entidades Promotoras de salud (EPS), Fondos de pensión y Administradora de Riesgos Laborales (ARL). 
                                        
                                        p.mt-2 #[strong.text-color-2 3.] Realizar aportes parafiscales: cajas de compensación familiar, SENA e ICBF, teniendo en cuenta las directrices para su aplicación.
                                        
                                        p.mt-2 #[strong.text-color-2 4.] Diseñar e implementar un programa de Seguridad y Salud en el Trabajo, aplicable de acuerdo con el número de trabajadores.


                            .card
                                #headingThree-2-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree-2-2', aria-expanded='false', aria-controls='collapseThree-2-2')
                                            h3.mb-0.collapsable-title.text-color-1 Normas tributarias
                                #collapseThree-2-2.collapse(aria-labelledby='headingThree-2-2', data-parent='#accordionExample3')
                                    .card-body.bg-white

                                        p.mt-2 #[strong.text-color-2 1.] Registrar la inscripción ante la Dirección de impuestos y Aduanas Nacionales (DIAN) para obtener el Registro Único Tributario (RUT).
                                        
                                        p.mt-2 #[strong.text-color-2 2.] Solicitar autorización de numeración para facturar, teniendo en cuenta los requisitos establecidos. 
                                        
                                        p.mt-2 #[strong.text-color-2 3.] Presentar oportunamente las declaraciones de IVA, de renta y complementarios, de industria y comercio si cumple con los requisitos para hacerlo.
                                        
                                        p.mt-2 #[strong.text-color-2 4.] Presentar oportunamente las declaraciones de retención en la fuente por renta, IVA y de ICA, teniendo en cuenta la norma vigente y si cumple con los requisitos para realizarlo.


                            .card
                                #headingFour-2-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour-2-2', aria-expanded='false', aria-controls='collapseFour-2-2')
                                            h3.mb-0.collapsable-title.text-color-1 Normas de funcionamiento
                                #collapseFour-2-2.collapse(aria-labelledby='headingFour-2-2', data-parent='#accordionExample3')
                                    .card-body.bg-white

                                        p.mt-2 #[strong.text-color-2 1.] Adquirir el certificado de sanidad, el cual indica que el establecimiento cuenta con los estándares de salubridad exigidos.
                                        
                                        p.mt-2 #[strong.text-color-2 2.] Obtener el Certificado de bomberos, que tiene como objetivo la seguridad de los colaboradores mediante la identificación de riesgos.
                                        
                                        p.mt-2 #[strong.text-color-2 3.] Requerir el certificado de estudio de uso de suelos, expedido por las oficinas de planeación.
                                        
                                        p.mt-2 #[strong.text-color-2 4.] Solicitar paz y salvo de Sayco y Acinpro para el pago de derechos de autor e intérpretes musicales.


                            .card
                                #headingFive-2-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive-2-2', aria-expanded='false', aria-controls='collapseFive-2-2')
                                            h3.mb-0.collapsable-title.text-color-1 Normas de información financiera

                                #collapseFive-2-2.collapse(aria-labelledby='headingFive-2-2', data-parent='#accordionExample3')
                                    .card-body.bg-white

                                        p La contabilidad existe desde la antigüedad, surgió a partir de la necesidad de llevar un control de las operaciones comerciales. Esta profesión ha ido evolucionando con los diferentes cambios del mercado a través del tiempo. Esto ha incentivado la sistematización de los procesos contables, agilizando de cierta manera la entrega de información financiera para la toma de decisiones (Santos-Cid, 2018).

                                        p.mt-3 En desarrollo de los procesos contables, es importante tener en cuenta las Normas Internacionales de Información Financiera (NIIF), las cuales presentan constantemente cambios. Por tanto, se requiere que los profesionales en esta área se encuentren actualizados.

                                        p.mt-3 El International Accounting Standars Board (IASB), es el organismo que emite los estándares internacionales NIIF o IFRS (International Financial Reporting Standars). Estos contienen los criterios de reconocimiento, medición, presentación y revelación de los hechos económicos de la empresa, los cuales son reflejados en los estados financieros; de esta manera, se establece un lenguaje contable homogéneo que genere información financiera comprensible, oportuna y útil para la toma de decisiones.

                                        p.mt-3 En el marco de la Globalización y el acceso de mercados internacionales surge la necesidad de estandarizar la información Financiera; en consecuencia, en Colombia, a partir de la expedición de la Ley 1314 de 2009 (Secretaría del Senado, 2020), se establece la regulación de los principios y normas de contabilidad e información financiera, con el fin de implementar las Normas Internacionales de Información Financiera (NIIF) de acuerdo con el tipo de empresa y actividades que desarrolla.

                                        p.mt-3 Con la expedición de dicha ley, comienza el desafío para los empresarios colombianos y los usuarios que de una u otra manera se encuentran involucrados en las empresas. Estos son: los colaboradores de las áreas administrativa, financiera, tecnológica y de talento humano. Todos tuvieron que ser capacitados y entrenados con el nuevo marco normativo para iniciar el proceso de implementación de acuerdo con los estándares establecidos.

                                        p.mt-3 Teniendo en cuenta lo anterior, es emitido el documento “Direccionamiento estratégico” por parte del Consejo Técnico de la Contaduría Pública (CTCP), con el fin de iniciar el proceso de convergencia hacia las normas internacionales; por lo tanto, se establecen los grupos de presentación de información financiera y se estipulan los requisitos para iniciar el periodo de preparación, transición, aplicación y reporte de las normas internacionales. 





                            .card
                                #heading6-2-2.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse6-2-2', aria-expanded='false', aria-controls='collapse6-2-2')
                                            h3.mb-0.collapsable-title.text-color-1 Grupos de presentación
                                #collapse6-2-2.collapse(aria-labelledby='heading6-2-2', data-parent='#accordionExample3')
                                    .card-body.bg-white

                                        .row.align-items-strech.mt-2.border-color-2
                                            .col-4.bg-color-2
                                                .p-3
                                                    strong Grupo 1 - NIIF Plenas
                                            .col-8
                                                .p-3
                                                    p #[strong Decreto 2784 de 2012]

                                                    p.mt-4 #[strong.text-color-2 a)] Emisores de valores;
                                                    p.mt-2 #[strong.text-color-2 b)] Entidades de interés público;
                                                    p.my-2 #[strong.text-color-2 c)] Entidades que tengan activos totales superiores a treinta mil (30.000) SMMLV o planta de personal superior a doscientos (200) trabajadores; que no sean emisores de valores ni entidades de interés público.


                                        .row.align-items-strech.mt-2.border-color-2
                                            .col-4.bg-color-2
                                                .p-3
                                                    strong Grupo 2 - NIIF para Pymes
                                            .col-8
                                                .p-3
                                                    p #[strong Decreto 3022 de 2013]

                                                    p.mt-4 #[strong.text-color-2 a)] Empresas que no cumplan con los requisitos del literal c) del grupo 1.
                                                    p.mt-2 #[strong.text-color-2 b)] Empresas que tengan Activos totales por valor entre quinientos (500) y treinta mil (30.000) SMMLV' o planta de personal entre once (11) y doscientos (200) trabajadores, y que no sean emisores de valores ni entidades de interés público.
                                                    p.mt-2 #[strong.text-color-2 c)] Microempresas que tengan Activos totales excluida la vivienda por un valor máximo de quinientos (500) SMMLV o planta de personal no superior a los (10) trabajadores, y cuyos ingresos brutos anuales sean iguales o superiores a 6.000 SMMLV'.
                                                    p.mt-4 Dichos ingresos brutos son los ingresos correspondientes al año inmediatamente anterior al periodo sobre el que se informa.

                                        .row.align-items-strech.mt-2.border-color-2
                                            .col-4.bg-color-2
                                                .p-3
                                                    strong Grupo 3 - NIIF Microempresas
                                            .col-8
                                                .p-3
                                                    p #[strong Decreto 2706 de 2012]

                                                    p.mt-4 #[strong.text-color-2 a)] Personas naturales o jurídicas que cumplan los criterios establecidos en el art. 499 del Estatuto Tributario (ET) y normas posteriores que lo modifiquen. Para el efecto, se tomará el equivalente a UVT, en salarios mínimos legales vigentes.
                                                    p.mt-2 #[strong.text-color-2 b)] Microempresas que tengan Activos totales excluida la vivienda por un valor máximo de quinientos (500) SMMLV o Planta de personal no superior a los diez (10) trabajadores que no cumplan con los requisitos para ser incluidas en el grupo 2 ni en el literal anterior.

                                        p.mt-4 La información de los decretos relacionados anteriormente, se encuentran compilados en el Decreto Único Reglamentario 2420 de 2015, modificado por el Decreto 2496 2015, 2131 de 2016, 2170 de 2017, 2483 de 2018 y 2270 de 2019.

                                        p.mt-4 Según el grupo de presentación al cual pertenece la empresa, se realiza el proceso de aplicación de Normas Internacionales de Información Financiera (NIIF). Por tanto, con el fin de lograr apropiación de conocimiento y fortalecer su aprendizaje se sugiere revisar el siguiente enlace:


                                        .row.justify-content-center.my-5

                                            .col-10.m-auto.rounded.shadow-sm.p-5.bg_curuva_gradient

                                                .row

                                                    .col-3

                                                        h1.text-center.text-color-1.mt-3 Sitio #[br] Web
                                                    
                                                    .col-6

                                                        p.text-dark.text-left.mb-3 #[strong Consejo Técnico de Contaduría Pública (CTCP):]

                                                        p.text-dark.text-left #[a(href="http://www.ctcp.gov.co/normatividad/normas-locales") #[u http://www.ctcp.gov.co/normatividad/normas-locales]]
                                                    
                                                    .col-3

                                                        img(src='assets/images/icons/icon_www2.svg').img-fluid
                                            
                                        br                                          